<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/css/layout.css" rel="stylesheet" />
    <link href="/Content/css/admin/common.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="main-container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="question"><a href="/Admin/Question">题库管理</a></li>
                        <li id="question"><a href="/Admin/Paper">试卷管理</a></li>
                        @*<li id="paper" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">试卷管理 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Admin/Paper">试卷模板</a></li>
                                <li><a href="/Admin/Exam">测试安排</a></li>
                            </ul>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <div class="page-content">
            <div class="content-container">
                <div class="page-header">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="modalContainer">
        </div>
    </div>
    <script src="/Content/lib/jquery-2.1.4/jquery-2.1.4.min.js"></script>
    <script src="/Content/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/Content/lib/react-0.14.3/react.js"></script>
    <script src="/Content/lib/react-0.14.3/react-dom.js"></script>
    <script src="/Content/js/common.js"></script>
    <script src="/Content/component/react-extend.js"></script>
    <script type="text/javascript">
        (function () {
            var url = location.href;
            var reg = /\/Admin\/(\w+)/.exec(url)[1];
            switch (reg) {
                case "Question":
                    document.querySelector("#question").classList.add("active");
                    break;
                case "Paper":
                    document.querySelector("#paper").classList.add("active");
                    break;
                default:
            }
        })();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

